.pointer-hand {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M8 3v10c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8c-1.1 0-2 .9-2 2z"/><path d="M8 13h8"/></svg>') 8 2, pointer !important;
}

@keyframes click-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.click-animation {
  animation: click-pulse 0.6s ease-out !important;
}
